# Игнорировать папку с зависимостями (packages), если вы используете pub
packages/

# Игнорировать файлы, сгенерированные Dart
*.dart.js
*.dart.js.map

# Игнорировать файлы, создаваемые IDE
.idea/
.vscode/

# Игнорировать файлы сборки (build output)
/build/